<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Guitar Players</title>
  </head>
  <body>
    <h1>Current Guitar Players</h1>
    <ul class="players">
      <% for(let i=0; i < info.length; i++) {%>
      <li class="player">
        <span><%= info[i].playerName %></span>
        <span><%= info[i].playerGuitar %></span>
        <span><%= info[i].likes %></span>
        <span class="fa fa-thumbs-up"></span>
        <!-- <span class="fa fa-trash"></span> -->
      </li>
      <% } %>
    </ul>
    <h2>Add A Guitar Player</h2>
    <form action="/addGuitarPlayer" method="POST">
      <input type="text" placeholder="Player Name" name="playerName" />
      <input type="text" placeholder="Player Guitar" name="playerGuitar" />
      <input type="submit" />
    </form>
    <script src="js/main.js"></script>
  </body>
</html>
