* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
}
h1 {
  color: blue;
}
.player {
  padding: 15px;
}
form {
  margin-bottom: 2rem;
}
ul {
  list-style: none;
}
